@model SocialTap.WEB.ViewModels.FeedbackViewModel

<h2>Upload a new drink</h2>
<hr />

@using (Html.BeginForm("Post", "LocationFeedback", FormMethod.Post))
{


    @Html.DropDownListFor(model => model.Location.Name, new SelectList(Model.Locations, "Name", "Name") )

    
        <input type="submit" value="Submit" class="btn btn-success btn-lg" />
        <button class="btn btn-danger btn-lg" onclick="@Url.Action("Index", "Home")">Cancel</button>
}