@model IEnumerable<SocialTap.Contract.DataContracts.LocationFeedbackDto>

@{
    ViewBag.Title = "ShowFeedback";
}
    @{ 
        var name = Model.FirstOrDefault();
    }
    <h2>Show "<b>@ViewBag.Place</b>" Feedback</h2>
    

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                <div class="table-responsive">
                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("post", "locationfeedback", new { id = ViewBag.PlaceId})'">Post Feedback</button>
                    <table class="table">
                        <thead>
                           
                            <tr>
                                <th>Feedback</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Feedback</td>
                                    <td>@item.User</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>


