@model IEnumerable<SocialTap.Contract.DataContracts.LocationFeedbackDto>

@{
    ViewBag.Title = "ShowFeedback";
}

    <h2>Show Feedback</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Location Id</th>
                                <th>Feedback</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.LocationId</td>
                                    <td>@item.Feedback</td>
                                    <td>@item.User</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>


